@font-face {
  font-family: 'Cocogoose';
  src: url('../assets/fonts/COCOGOOSE.eot');
  src: url('../assets/fonts/COCOGOOSE.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/COCOGOOSE.svg#Aller-Bold') format('svg'),
       url('../assets/fonts/COCOGOOSE.ttf') format('truetype'),
       url('../assets/fonts/COCOGOOSE.woff') format('woff'),
       url('../assets/fonts/COCOGOOSE.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
