@font-face {
  font-family: 'Aller';
  src: url('../assets/fonts/aller.eot');
  src: url('../assets/fonts/aller.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/aller.svg#Aller') format('svg'),
       url('../assets/fonts/aller.ttf') format('truetype'),
       url('../assets/fonts/aller.woff') format('woff'),
       url('../assets/fonts/aller.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Aller Display';
  src: url('../assets/fonts/AllerDisplay.woff2') format('woff2'),
  url('../assets/fonts/AllerDisplay.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AllerBold';
  src: url('../assets/fonts/Aller-Bold.eot');
  src: url('../assets/fonts/Aller-Bold.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/Aller-Bold.svg#Aller-Bold') format('svg'),
       url('../assets/fonts/Aller-Bold.ttf') format('truetype'),
       url('../assets/fonts/Aller-Bold.woff') format('woff'),
       url('../assets/fonts/Aller-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BentonSans-Black';
  src: url('../assets/fonts/BentonSans-Black.eot');
  src: url('../assets/fonts/BentonSans-Black.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/BentonSans-Black.svg#BentonSans-Black') format('svg'),
       url('../assets/fonts/BentonSans-Black.ttf') format('truetype'),
       url('../assets/fonts/BentonSans-Black.woff') format('woff'),
       url('../assets/fonts/BentonSans-Black.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadProBold';
  src: url('../assets/fonts/MyriadPro-Bold.eot');
  src: url('../assets/fonts/MyriadPro-Bold.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/MyriadPro-Bold.svg#MyriadPro-Bold') format('svg'),
       url('../assets/fonts/MyriadPro-Bold.ttf') format('truetype'),
       url('../assets/fonts/MyriadPro-Bold.woff') format('woff'),
       url('../assets/fonts/MyriadPro-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadPro-BoldIt';
  src: url('../assets/fonts/MyriadPro-BoldIt.eot');
  src: url('../assets/fonts/MyriadPro-BoldIt.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/MyriadPro-BoldIt.svg#MyriadPro-BoldIt') format('svg'),
       url('../assets/fonts/MyriadPro-BoldIt.ttf') format('truetype'),
       url('../assets/fonts/MyriadPro-BoldIt.woff') format('woff'),
       url('../assets/fonts/MyriadPro-BoldIt.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadProSemiBold';
  src: url('../assets/fonts/MyriadPro-Semibold.eot');
  src: url('../assets/fonts/MyriadPro-Semibold.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/MyriadPro-Semibold.svg#MyriadPro-Semibold') format('svg'),
       url('../assets/fonts/MyriadPro-Semibold.ttf') format('truetype'),
       url('../assets/fonts/MyriadPro-Semibold.woff') format('woff'),
       url('../assets/fonts/MyriadPro-Semibold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Aller';
  src: url('../assets/fonts/Aller-Light.eot');
  src: url('../assets/fonts/Aller-Light.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/Aller-Light.svg#Aller-Light') format('svg'),
       url('../assets/fonts/Aller-Light.ttf') format('truetype'),
       url('../assets/fonts/Aller-Light.woff') format('woff'),
       url('../assets/fonts/Aller-Light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'clanpromedium';
  src: url('../assets/fonts/ClanPro-Medium.eot');
  src: url('../assets/fonts/ClanPro-Medium.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/ClanPro-Medium.svg#Aller-Light') format('svg'),
       url('../assets/fonts/ClanPro-Medium.ttf') format('truetype'),
       url('../assets/fonts/ClanPro-Medium.woff') format('woff'),
       url('../assets/fonts/ClanPro-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'clanprobold';
  src: url('../assets/fonts/ClanPro-Bold.eot');
  src: url('../assets/fonts/ClanPro-Bold.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/ClanPro-Bold.svg#Aller-Light') format('svg'),
       url('../assets/fonts/ClanPro-Bold.ttf') format('truetype'),
       url('../assets/fonts/ClanPro-Bold.woff') format('woff'),
       url('../assets/fonts/ClanPro-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'chunkFive';
  src: url('../assets/fonts/ChunkFive-Roman.eot');
  src: url('../assets/fonts/ChunkFive-Roman.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/ChunkFive-Roman.svg#chunkFive') format('svg'),
       url('../assets/fonts/ChunkFive-Roman.ttf') format('truetype'),
       url('../assets/fonts/ChunkFive-Roman.woff') format('woff'),
       url('../assets/fonts/ChunkFive-Roman.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Aller';
  src: url('../assets/fonts/Aller-Light.eot');
  src: url('../assets/fonts/Aller-Light.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/Aller-Light.svg#Aller-Light') format('svg'),
       url('../assets/fonts/Aller-Light.ttf') format('truetype'),
       url('../assets/fonts/Aller-Light.woff') format('woff'),
       url('../assets/fonts/Aller-Light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'allerregular';
  src: url('../assets/fonts/aller-regular.eot');
  src: url('../assets/fonts/aller-regular.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/aller-regular.svg#chunkFive') format('svg'),
       url('../assets/fonts/aller-regular.ttf') format('truetype'),
       url('../assets/fonts/aller-regular.woff') format('woff'),
       url('../assets/fonts/aller-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
