@import "utilities";
@import "header";
@import "footer";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: unset;
  text-decoration: unset;
}
body {
  font-family: 'Raleway', sans-serif;
}
img {
  max-width: 100%;
}
h2 {
  font-size: 32px;
  margin-top: 68px;
}
h2 strong {
  color: #2658C8;
  font-weight: 800;
}
p {
  font-size: 16px;
  margin: 0px;
}
p strong {
  color: #2658C8;
}
.contenedor {
  max-width: 1140px;
  margin: 0 auto;
}
button.bot-blue {
  background-color: #2658C8;
  color: white;
  font-size: 14px;
  border: unset;
  font-weight: 600;
  border-radius: 5px;
}
button.bot-white {
  background-color: white;
  color: #2658C8;
  font-size: 14px;
  font-weight: 600;
  border: 1px solid #2658C8;
  border-radius: 5px;
}
button {
  cursor: pointer;
}