$brand-color: #EB8831;
$font-family-base: "Aller", sans-serif;
$font-display: 'Aller Display', sans-serif;
$color-tinka: #FFE602;
$color-kabala: #C1D72D;
$color-gana-diario: #0092D7;
$color-ganagol: #4BB040;
$color-gris: #717171;